h1 {
    text-align: center;
}

.container{
    text-align: center;
    background-color: hsl(0, 0%, 100%);
}

p{
    text-align: center;
    font-size: 15px;
}

body{
    background-color:hsl(212, 45%, 89%);
}

@media screen {
    
}

.attribution { font-size: 11px; 
    text-align: center;
 }
    .attribution a { 
        color: hsl(228, 45%, 44%); }